body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
}
#content {
    min-height: calc(100vh - 180px);
}
.width1142 {
    max-width: 1142px;
    height: inherit;
    margin: 0 auto;
    padding: 0 10px;
}
.width1142:before,
.block-1_home:before,
.block-1_services:before,
.block-1_contact-top:before,
.block-1_rooms:before,
.block-2_rooms_sort-border:before {
    content: '';
    display: table;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
header ul,
header li,
.block-1_home ul,
.block-1_home li {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
}
#content button.no-key_bg {
    background-color: #abafb2;
    cursor: default;
}
input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
}
i.fa {
    font-weight: normal;
    color: inherit;
}


/* start font style */ /* ***** ***** ***** ***** ***** ***** ***** ***** */
h1, h2, h3, h4 {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}
button, input {
    font-family: 'Open Sans';
}
p {
    font-family: Kurale;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
/**   start header   **/
/***  .header-top  ***/
.header-top h1 {
    font-family: Lato;
    font-size: 64px;
    font-weight: bold;
    line-height: 0.7;
    position: relative;
}
.header-top .logo-s {
    font-size: 57px;
}
.header-top .logo-hotel {
    font-size: 36px;
}
.header-top .login,
.header-top .reg,
.header-top .auth-user,
.header-top .log-out {
    font-family: 'Open Sans';
    font-size: 16px;
}
.header-top .auth-user-menu {
    font-size: 14px;
}
.header-top i {
    font-size: 16px;
}
/***  /.header-top  ***/
/***  .header-menu  ***/
.header-menu {
    font-size: 14px;
}
.menu-left {
    font-weight: 600;
}
.header-menu i {
    font-size: 24px;
}
.header-menu_tell i {
    font-size: 20px;
}
.header-menu_tell span {
    font-size: 9px;
}
/***  end .header-menu  ***/
/**    end header    **/

/**   start footer   **/
footer {
    font-size: 16px;
}
/**    end header    **/

/*   start #conten_home   */ /* ----- ----- ----- ----- ----- */
/**  start .block-1_home  **/
.block-1_home_arrow-slider button {
    font-size: 48px;
}
.block-1_home_banner-slider-noactive h2 {
    font-size: 36px;
    font-weight: bold;
}
.block-1_home_banner-slider-noactive i {
    font-size: 36px;
}
.block-1_home_banner-slider-noactive button {
    font-size: 16px;
    font-weight: bold;
}
.block-1_home_banner-slider-active button {
    font-size: 24px;
}
.block-1_home_banner-slider-active button.close {
    font-size: 20px;
}
.block-1_home_banner-slider_img figcaption {
    font-size: 14px;
}
.block-1_home_banner-top li {
    font-size: 14px;
    font-weight: 600;
}
.block-1_home_banner-top li:first-of-type {
    font-weight: normal;
}
.block-1_home_banner-top .fa-phone {
    font-size: 20px;
}
.block-1_home_banner-top .fa-map-marker,
.block-1_home_banner-top .fa-paper-plane-o {
    font-size: 18px;
}
.banner-reserve input {
    font-size: 15px;
    font-family: 'Open Sans';
}
.banner-reserve i {
    font-size: 18px;
}
.banner-reserve button {
    font-size: 15px;
    font-weight: 600;
}
.banner-reserve p {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
}
/**   end .block-1_home   **/
/**   start .block-2_home   **/
.block-2_home p {
    font-size: 16px;
}
.block-2_home .hotel_key a {
    font-size: 14px;
    font-weight: 600;
}
.block-2_home_hotel-l h3,
.block-2_home_hotel-r h3 {
    font-size: 18px;
    font-weight: bold;
}
.block-2_home_hotel-l p,
.block-2_home_hotel-r p {
    font-size: 15px;
}
.block-2_home_hotel-l a {
    font-size: 12px;
    font-weight: 600;
}
/**   end .block-2_home   **/
/*    end #conten_home    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_services    */ /* ----- ----- ----- ----- ----- */
/**  start .block-1_services  **/
.block-1_services > button {
    font-size: 14px;
    font-weight: 600;
}
.block-1_services h2 {
    font-size: 48px;
}
.block-1_services > p {
    font-size: 20px;
}
/**  end .block-1_services  **/
/**  start .block-2_services  **/
.block-2_services .services_key a {
    font-size: 14px;
    font-weight: 600;
}
.block-2_services h2 {
    font-size: 36px;
    font-weight: 600;
}
.block-2_services p {
    font-size: 16px;
}
.block-2_services-1_spa h3,
.block-2_services-1_restaurant h3 {
    font-size: 30px;
    font-weight: 600;
}
.block-2_services-1_spa p,
.block-2_services-1_restaurant p {
    font-size: 15px;
}
.restaurant-active_l_key button {
   font-size: 14px;
}
.block-2_services-1_spa span,
.block-2_services-1_restaurant span {
    font-size: 14px;
}
.spa-active_l article,
.restaurant-active_l article,
.spa-active_l article p,
.restaurant-active_l article p {
    font-size: 15px;
    font-family: Kurale;
}
.spa-active_r .spa-active_close,
.restaurant-active_r .restaurant-active_close {
    font-size: 14px;
    font-weight: 600;
}
.spa-active_r .spa-img_prev,
.restaurant-active_r .restaurant-img_prev,
.spa-active_r .spa-img_next,
.restaurant-active_r .restaurant-img_next {
    font-size: 20px;
}
.block-2_services-2_comfort div i {
    font-size: 48px;
}
.block-2_services-2_comfort div h3 {
    font-size: 24px;
    font-weight: 600;
}
.block-2_services-2_comfort div p {
    font-size: 15px;
}
.block-2_services-3_rules-l_top h3 {
    font-size: 30px;
    font-weight: normal;
}
.block-2_services-3_rules-l_top i {
    font-size: 24px;
}
.block-2_services-3_rules-l_top small {
    font-size: 14px;
    font-weight: 600;
}
.block-2_services-3_rules-l_bottom h3 {
    font-size: 16px;
}
.block-2_services-3_rules-l_bottom p {
    font-size: 14px;
    font-family: 'Open Sans';
}
.block-2_services-3_rules-r h3 {
    font-size: 16px;
}
.block-2_services-3_rules-r p {
    font-size: 15px;
}
/**  end .block-2_services  **/
/*    end #conten_services    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_contact    */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_contact   **/
.block-1_contact-top h2,
.block-1_contact-middle h3,
.block-1_contact-bottom h3 {
    font-size: 36px;
    font-weight: 600;
}
.block-1_contact-top p,
.block-1_contact-bottom p,
.block-1_contact-middle p {
    font-size: 16px;
}
.block-1_contact-middle p span {
    font-weight: 600;
}
.block-1_contact-middle ul {
    font-size: 16px;
    font-family: Kurale;
}
/**   end .block-1_contact   **/
/*    end #conten_contact    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_search    */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_search   **/
.block-1_search button {
    font-size: 24px;
}
.block-1_search label i {
    font-size: 30px;
}
.block-1_search label input {
    font-size: 24px;
}
.block-1_search p {
    font-size: 19px;
}
.block-1_search_result p,
.block-1_search_result div {
    font-size: 17px;
    font-family: 'Open Sans';
}
/**   end .block-1_search   **/
/*    end #conten_search    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_login    */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_login   **/
.block-1_login button,
.block-1_registration button {
    font-size: 24px;
}
.block-1_login form div label,
.block-1_registration form div label {
    font-size: 16px;
    font-family: Kurale;
}
.block-1_login form div label.novalid,
.block-1_registration form div label.novalid{
    font-size: 14px;
}
.block-1_login form div input,
.block-1_login form > label,
.block-1_registration form div input,
.block-1_registration form > label {
    font-size: 16px;
}
/**   end .block-1_login   **/
/*    end #conten_login    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_rooms    */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_rooms   **/
.block-1_rooms_top h4 {
    font-size: 16px;
    font-weight: 600;
}
.block-1_rooms_top .room_cal-in,
.block-1_rooms_top .room_cal-out {
    font-size: 15px;
}
.block-1_rooms_top .room_cal-in i,
.block-1_rooms_top .room_cal-out i {
    font-size: 18px;
}
/**   end .block-1_rooms   **/
/**   start .block-2_rooms   **/
/***  aside  ***/
.block-2_rooms_sort-block h4 {
    font-size: 15px;
    font-weight: 600;
}
.block-2_rooms_sort-border div {
    font-size: 15px;
}
/***  /aside  ***/
/***  .block-2_rooms_content-block  ***/
.block-2_rooms_content-block h3 {
    font-size: 16px;
    font-weight: normal;
}
.block-2_rooms_content-block .room-info {
    font-size: 14px;
}
.block-2_rooms_content-block th {
    font-size: 15px;
    font-weight: normal;
}
.block-2_rooms_content-block td,
.block-2_rooms_content-block td small {
    font-size: 15px;
}
.block-2_rooms_content-block td:nth-of-type(2) {
    font-size: 19px;
}
.block-2_rooms_content-block td button {
    font-weight: 600;
}
/***  /.block-2_rooms_content-block  ***/
/**   end .block-2_rooms   **/
/**   start .block-3_rooms   **/
/***  .block-3_rooms_page-pagination  ***/
.block-3_rooms_page-pagination a {
    font-size: 15px;
    font-weight: 600;
}
.block-3_rooms_page-pagination a.active {
    font-weight: bold;
}
/***  /.block-3_rooms_page-pagination  ***/
/**   end .block-3_rooms   **/
/*    end #conten_rooms    */ /* ----- ----- ----- ----- ----- */

/*    start .calendar    */ /* ----- ----- ----- ----- ----- */
.calendar {
    font-size: 14px;
}
.calendar thead td i {
    font-size: 12px;
}
.calendar thead th {
    font-weight: 600;
}
.calendar tbody td {
    font-size: 12px;
}
/*    end .calendar    */ /* ----- ----- ----- ----- ----- */
/*   end font style   */ /* ***** ***** ***** ***** ***** ***** ***** ***** */


/*   start header   */ /* ***** ***** ***** ***** ***** ***** ***** ***** */
header {
    position: relative;
    z-index: 3;
}
/** start .header-top **/
/***  .logo  ***/
.header-top {
    height: 50px;
    background-color: #fff;
}
.header-top h1 {
    margin-top: 2px;
    color: #00395d;
}
.header-top .logo-s {
    position: absolute;
    top: 3px;
    left: 10px;
    color: #d9a548;
}
.header-top .logo-hotel {
    position: absolute;
    top: 10px;
    left: 66px;
    color: #d9a548;
}
/***  /.logo  ***/
/***  .auth  ***/
/****  .hidden  ****/
.header-top .auth-in.hidden,
.header-top .auth-out.hidden {
    display: none;
}
/****  /.hidden  ****/
.header-top .auth-in,
.header-top .auth-out {
    margin-top: 10px;
}
.header-top .login,
.header-top .reg,
.header-top .log-out {
    padding: 2px 10px;
    border: 1px solid #d9a548;
    cursor: pointer;
}
.header-top .login:hover,
.header-top .reg:hover,
.header-top .log-out:hover,
.header-top .auth-user:hover {
    box-shadow: 0 0 1px 1px #d9a548;
}
.header-top .login {
    background-color: #d9a548;
    color: #fff;
}
.header-top .login i {
    color: #fff;
}
.header-top .reg,
.header-top .log-out {
    margin-left: 50px;
    color: #000;
    background-color: #fff;
 }
.header-top i {
    margin-right: 10px;
    color: #d9a548;
}
.header-top .auth-user .fa-angle-down {
    margin-right: 0;
    margin-left: 6px;
}
.header-top .auth-user {
    position: relative;
    padding: 2px 10px;
    border-left: 1px solid #d9a548;
    border-right: 1px solid #d9a548;
    cursor: pointer;
}
.header-top .auth-user:hover .auth-user-menu {
    display: block;
}
.header-top .auth-user-menu {
    position: absolute;
    top: 26px;
    right: -40px;
    display: none;
    width: 290px;
    padding-bottom: 5px;
    border-top: 14px solid transparent;
    background-color: #fff;
    background-clip: padding-box;
    cursor: default;
    z-index: 4;
}
.header-top .auth-user-menu li {
    height: 36px;
    margin: 0 10px;
    border-bottom: 1px solid #eaeced;
    line-height: 36px;
}
.header-top .auth-user-menu li:first-of-type {
    margin: 0;
    padding: 0 15px;
    background-color: #d9a548;
    color: #fff;
}
.header-top .auth-user-menu li:first-of-type i {
    color: #fff;
}
.header-top .auth-user-menu li:last-of-type:hover {
    margin: 0;
    padding: 0 10px;
    background-color: #d9a548;
    color: #fff;
    border-bottom: 1px solid #d9a548;
    cursor: pointer;
    transition: all .3s;
}
.header-top .auth-user-menu li:last-of-type:hover i {
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    transition: margin .2s .1s;
}
/***  /.auth  ***/
/**  end .header-top  **/

/**  .header-menu  **/
#mobile-menu {
    display: none;
}
.header-menu {
    height: 79px;
    background-color: #00395d;
    border-bottom: 1px solid #006fb6;
    color: #fff;
}
.header-menu li {
    float: left;
}
.header-menu a,
.header-menu li div {
    display: block;
    height: 79px;
    padding: 0 10px;
    line-height: 79px;
}
.header-menu .separator {
    display: block;
    width: 1px;
    height: 40px;
    background-color: #006fb6;
}
.menu-left {
    position: relative;
}
.menu-left .separator {
    margin: 20px 14px 0;
}
.menu-left li:last-of-type .separator {
    margin-right: 0;
}
.menu-right .separator {
    margin: 20px 5px 0;
}
.menu-left i.fa-home {
    margin-right: 10px;
}
.menu-left .menu-active,
.menu-right .menu-active,
.menu-left a:hover,
.menu-search:hover {
    color: #59b5e2;
}
.header-menu i {
    position: relative;
    top: 3px;
}
.header-menu_tell {
    position: relative;
}
.header-menu_tell span {
    position: absolute;
    top: 17px;
    left: 36px;
    color: #59b5e2;
}
.header-menu_tell i {
    margin-right: 10px;
    color: #59b5e2;
}
.header-menu i.fa-angle-down {
    margin-left: 10px;
    color: #59b5e2;
}
/*.menu-left:hover .menu-services,*/
.menu-services-hover:hover .menu-services {
    visibility: visible;
    height: 46px;
    bottom: -48px;
}
/*.menu-services-hover:hover .menu-services*/
.menu-services:hover {
    opacity: 1;
}
.menu-services-hover:hover > a {
    color: #59b5e2;
}
.menu-services {
    position: absolute;
    left: 0;
    bottom: -2px;
    visibility: hidden;
    width: 548px;
    height: 0;
    padding: 0 14px;
    background-color: #00395d;
    border: 1px solid #006fb6;
    border-radius: 0 0 2px 2px;
    color: #fff;
    overflow-y: hidden;
    z-index: 3;
    opacity: .5;
    transition: all .4s;
}
.menu-services a {
    display: block;
    height: 50px;
    line-height: 50px;
}
.menu-services .separator {
    height: 24px;
    margin: 12px 14px 0;
}
.menu-currency-hover,
.menu-language-hover {
    position: relative;
}
.menu-currency-hover:hover .menu-currency,
.menu-language-hover:hover .menu-language {
    display: block;
}
.menu-currency,
.menu-language {
    position: absolute;
    top: 79px;
    right: -50%;
    display: none;
    padding-bottom: 5px;
    background-color: #fff;
    border-top: 1px solid #006fb6;
}
.menu-currency {
    width: 224px;
}
.menu-language {
    width: 144px;
}
.menu-currency li,
.menu-language li {
    float: none;
    background-color: #fff;
    color: #006fb6;
}
.menu-currency li:first-of-type,
.menu-language li:first-of-type {
    height: 36px;
    background-color: #59b5e2;
    color: #fff;
}
.menu-currency i,
.menu-language i {
    margin: 0 10px 0 15px;
}
.menu-currency a,
.menu-language a {
    height: auto;
    margin: 10px 10px;
    padding: 5px;
    line-height: 1.2;
    border-bottom: 1px solid #eaeced;
}
.menu-currency a:hover,
.menu-language a:hover {
    border-bottom: 1px solid #d9a548;
    color: #d9a548;
}
/**  end .header-menu  **/
/*    end header    */

/*   start footer   */
footer {
    height: 50px;
    color: #fff;
    background-color: #00121d;
    text-align: center;
    white-space: pre-wrap;
    line-height: 50px;
}
/*    end footer    */ /* ***** ***** ***** ***** ***** ***** ***** ***** */





/*    start #content    */ /* ***** ***** ***** ***** ***** ***** ***** ***** */

/*   start #conten_home   */ /* ----- ----- ----- ----- ----- */
/**  start .block-1_home  **/
.block-1_home {
    height: 500px;
    background:
            linear-gradient(to bottom, transparent, rgba(72, 204, 217, 0.3)),
            url("../img/1_home/bl-1/1-slider.jpg") no-repeat center / cover;
    color: #fff;
}
.block-1_home_arrow-slider {
    margin-top: 203px;
}
.block-1_home_arrow-slider button {
    background-color: transparent;
    color: #fff;
}
/****  .hidden  ****/
.block-1_home_banner-slider-noactive.hidden,
.block-1_home_banner-slider-active.hidden {
    display: none;
}
/****  /.hidden  ****/
/*** .block-1_home_banner-slider-noactive ***/
.block-1_home_banner-slider-noactive {
    height: 40px;
    margin-top: 131px;
    margin-bottom: 11px; /*11+9=20*/
}
.block-1_home_banner-slider-noactive button {
    background-color: transparent;
    color: #fff;
}
.block-1_home_banner-slider-noactive button i {
    margin-left: 15px;
    vertical-align: middle;
}
/*** /.block-1_home_banner-slider-noactive ***/
/*** .block-1_home_banner-slider-active ***/
.block-1_home_banner-slider-active {
    position: relative;
    margin-top: 12px;
    margin-bottom: 16px;
}
.block-1_home_banner-slider-active button.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: 0;
    background-color: #59b5e2;
    border-radius: 5px;
    line-height: 32px;
}
.block-1_home_banner-slider-active .banner-slider-l,
.block-1_home_banner-slider-active .banner-slider-r {
    position: absolute;
    top: 82px;
    background-color: transparent;
}
.block-1_home_banner-slider-active .banner-slider-l {
    left: 0;
}
.block-1_home_banner-slider-active .banner-slider-r {
    right: 0;
}
/*** /.block-1_home_banner-slider-active ***/
/*** .block-1_home_banner-slider_img ***/
.block-1_home_banner-slider_img {
    position: relative;
    width: 1076px;
    height: 154px;
    margin: 0 auto;
    padding: 0 5px;
    overflow: hidden;
}
.block-1_home_banner-slider_img figure {
    float: left;
    margin: 57px 0 0 12px;
}
.block-1_home_banner-slider_img figure:first-of-type {
    margin-left: 0;
}
.block-1_home_banner-slider_img figcaption {
    position: absolute;
    left: 6px;
    top: 0;
    display: none;
    width: 1072px;
}
.block-1_home_banner-slider_img .active figcaption {
    display: block;
}
.block-1_home_banner-slider_img img {
    width: 124px;
    height: 93px;
    box-sizing: border-box;
    border: 1px solid #fff;
    cursor: pointer;
}
.block-1_home_banner-slider_img .active img {
    border: 1px solid #59b5e2;
    box-shadow: 0 0 5px 2px #59b5e2;
}
.block-1_home_banner-top {
    height: 54px;
    background-color: #00395d;
    border-bottom: 1px solid #006fb6;
    border-radius: 10px 10px 0 0;
}
/*** /.block-1_home_banner-slider_img ***/
/*** .block-1_home_banner-top ***/
.block-1_home_banner-top li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 18px;
}
.block-1_home_banner-top li:first-of-type {
    margin-left: 20px;
}
.block-1_home_banner-top-separator {
    display: block;
    width: 1px;
    height: 20px;
    margin: 0 15px;
    background-color: #006fb6;
}
.block-1_home_banner-top .fa-map-marker,
.block-1_home_banner-top .fa-phone,
.block-1_home_banner-top .fa-paper-plane-o {
    margin-right: 6px;
    color: #59b5e2;
    vertical-align: middle;
}
/*** /.block-1_home_banner-top ***/
/*** .block-1_home_banner-reserve ***/
.block-1_home_banner-reserve {
    max-width: 1142px;
    height: 75px;
    margin: 5px auto 0;
    color: #fff;
    background-color: #00395d;
    background-clip: padding-box;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 0 0 20px 20px;
    text-align: center;
}
.banner-reserve .room-in,
.banner-reserve .room-out {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 40px;
    margin-top: 17px;
}
.banner-reserve .room-in {
    margin-right: 8px;
}
.banner-reserve label {
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
.banner-reserve .fa-calendar-plus-o,
.banner-reserve .fa-calendar-minus-o {
    margin: 0 5px 0 20px;
    color: #59b5e2;
}
.banner-reserve .fa-caret-down {
    margin: 0 20px 0 5px;
    color: #59b5e2;
}
.banner-reserve input {
    width: 89px;
    height: 30px;
    background-color: transparent;
    text-align: center;
    color: #00395d;
    cursor: pointer;
}
.banner-reserve button {
    width: 192px;
    height: 36px;
    margin-left: 8px;
    margin-right: 40px;
    background-color: #f0af22;
    border-radius: 10px;
    color: #fff;
}
.banner-reserve button:hover {
    box-shadow: 0 0 1px 1px #f0af22;
}
.banner-reserve p {
    display: inline;
}
/****  .fixed  ****/
.block-1_home_banner-reserve.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    max-width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    transition: height .4s, width .4s;
    z-index: 2;
}
.block-1_home_banner-reserve.fixed .room-in,
.block-1_home_banner-reserve.fixed .room-out {
    margin-top: 8px;
    transition: all .4s;
}
.block-1_home_banner-reserve.fixed + .block-2_home {
    margin-top: 80px;
}
/****  /.fixed  ****/
/*** /.block-1_home_banner-reserve ***/
/**   end .block-1_home   **/

/**   start .block-2_home   **/
.block-2_home {
    margin-bottom: 50px;
}
.block-2_home p {
    max-width: 824px;
    margin: 50px auto 0;
    text-align: center;
}
.block-2_home video {
    display: block;
    width: 564px;
    height: 315px;
    margin: 10px auto 0;
}
.block-2_home video iframe {
    width: inherit;
    height: inherit;
    border: none;
}
.block-2_home .hotel_key {
    margin-top: 50px;
    text-align: center;
}
.block-2_home .hotel_key a:first-of-type {
    margin-right: 8px;
}
.block-2_home .hotel_key a {
    display: inline-block;
    width: 288px;
    padding-bottom: 5px;
    border-bottom: 5px solid #006fb6;
    color: #00395d;
}
.block-2_home .hotel_key a.hotel_key-active {
    border-bottom: 5px solid #59b5e2;
    color: #59b5e2;
}
/****  .hidden  ****/
.block-2_home_hotel-rooms.hidden {
    margin-top: -400px;
}
.block-2_home_hotel-rooms {
    transition: margin-top .6s;
}
/****  /.hidden  ****/
.block-2_home_hotel {
    height: 400px;
    margin-top: 30px;
    overflow-y: hidden;
}
.block-2_home_hotel-l {
    width: 287px;
    height: 399px;
    border-top: 1px solid #006fb6;
    border-left: 1px solid #006fb6;
}
.block-2_home_hotel-l h3 {
    width: 250px;
    margin: 30px 23px 0;
    color: #00395d;
}
.block-2_home_hotel-l p {
    width: 250px;
    margin: 14px 23px 0;
    text-align: left;
}
.block-2_home_hotel-l a {
    display: block;
    width: 248px;
    margin-left: -1px;
    padding: 15px 20px;
    background-color: #00395d;
    color: #fff;
}
.block-2_home_hotel-rooms a:first-of-type {
    margin-top: 56px;
}
.block-2_home_hotel-halls a:first-of-type {
    margin-top: 97px;
}
.block-2_home_hotel-l a:hover {
    background-color: #002137;
}
.block-2_home_hotel-l a.active {
    background-color: #59b5e2;
}
.block-2_home_hotel-c {
    width: 564px;
    height: 400px;
}
.block-2_home_hotel-c img,
.block-2_home_hotel-r div {
    display: none;
    width: inherit;
    height: inherit;
}
.block-2_home_hotel-c img.active,
.block-2_home_hotel-r div.active {
    display: block;
}
.block-2_home_hotel-r {
    width: 288px;
    height: 400px;
    background-color: #00395d;
    color: #fff;
}
.block-2_home_hotel-r h3 {
    margin: 30px 24px 0;
}
.block-2_home_hotel-r p {
    margin: 18px 24px 0;
    text-align: left;
}
/**   end .block-2_home   **/
/*    end #conten_home    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_services    */ /* ----- ----- ----- ----- ----- */
/**  start .block-1_services  **/
.block-1_services {
    height: 500px;
    background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url("../img/3_services/bg-services.jpg") no-repeat center / cover;
    color: #fff;
}
.block-1_services_banner-reserve {
    position: relative;
    height: 75px;
    margin-top: -75px;
    background-color: #00395d;
    color: #fff;
    text-align: center;
    transition: margin-top .3s linear;
    z-index: 2;
}
.block-1_services_banner-reserve.active {
    margin-top: 0;
}
.block-1_services > button {
    position: relative;
    display: block;
    width: 204px;
    height: 44px;
    margin: 0 auto;
    background-color: #f0af22;
    border-radius: 0 0 10px 10px;
    color: #fff;
    z-index: 1;
}
.block-1_services > button i {
    margin-left: 6px;
}
.block-1_services_banner-reserve.active ~ button .fa-chevron-down:before {
    content: "\f077";
}
.block-1_services_banner-reserve.active ~ .block-1_services_banner-reserve_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(72, 204, 217, 0.5);
    transition: all .4s linear;
}
.block-1_services h2 {
    margin-top: 110px;
    text-align: center;
    transition: margin-top .3s linear;
}
.block-1_services_banner-reserve.active ~ h2 {
    margin-top: 35px;
}
.block-1_services p {
    max-width: 644px;
    margin: 10px auto 0;
    text-align: center;
}
/**  end .block-1_services  **/

/**  start .block-2_services  **/
.block-2_services {
    padding-bottom: 50px;
}
.block-2_services .services_key {
    margin: 45px 0 40px;
    text-align: center;
}
.block-2_services .services_key a {
    margin-left: 12px;
    padding: 0 24px 5px;
    border-bottom: 5px solid #006fb6;
    color: #00395d;
}
.block-2_services .services_key a:first-of-type {
    margin-left: 0;
}
.block-2_services .services_key a.services_key-active {
    border-bottom: 5px solid #59b5e2;
    color: #59b5e2;
}
.block-2_services h2 {
    color: #00395d;
    text-align: center;
}
.block-2_services p {
    max-width: 754px;
    margin: 0 auto 50px;
    text-align: center;
}
.block-2_services_overflow {
    width: inherit;
    overflow-x: hidden;
}
.block-2_services_wrapper {
    width: 300%;
    transition: margin-left 1.5s;
}
#overview {
    margin-left: 0;
}
#comfort {
    margin-left: -100%;
}
#rules {
    margin-left: -200%;
}
#overview .block-2_services-1_overview,
#comfort .block-2_services-2_comfort,
#rules .block-2_services-3_rules {
    height: auto;
    overflow-y: hidden;
    opacity: 1;
}
.block-2_services-1_overview,
.block-2_services-2_comfort,
.block-2_services-3_rules {
    height: 250px;
    width: calc(100%/3);
    overflow-y: hidden;
    opacity: 0;
    transition: opacity 1s .8s;
}
.block-2_services-2_comfort,
.block-2_services-3_rules {
    height: 155px;
}
/*** .block-2_services-1_spa .block-2_services-1_restaurant ***/
.block-2_services-1_spa,
.block-2_services-1_restaurant {
    width: calc(50% - 6px);
    height: 338px;
    margin-right: 12px;
    overflow-y: hidden;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: margin-bottom .3s linear;
}
.block-2_services-1_spa.active,
.block-2_services-1_restaurant.active {
    margin-bottom: 20px;
}
.block-2_services-1_spa {
    background: 
            linear-gradient(rgba(72, 204, 217, 0.25), rgba(0, 0, 0, 0.25)),
            url("../img/3_services/overview/spa-bg.jpg") no-repeat center / cover;
}
.block-2_services-1_restaurant {
    margin-right: 0;
    background:
            linear-gradient(rgba(72, 204, 217, 0.25), rgba(0, 0, 0, 0.25)),
            url("../img/3_services/overview/restaurant-bg.jpg") no-repeat center / cover;
}
.block-2_services-1_spa:hover,
.block-2_services-1_restaurant:hover {
    box-shadow: inset 0 0 1px 3px #f0af22;
}
.block-2_services-1_spa:hover {
    background:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../img/3_services/overview/spa-bg.jpg") no-repeat center / cover;
}
.block-2_services-1_restaurant:hover {
    background:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../img/3_services/overview/restaurant-bg.jpg") no-repeat center / cover;
}
.block-2_services-1_spa h3,
.block-2_services-1_restaurant h3 {
    margin-top: 150px;
    transition: margin-top .3s;
}
.block-2_services-1_spa:hover h3,
.block-2_services-1_restaurant:hover h3 {
    margin-top: 90px;
}
.block-2_services-1_spa p,
.block-2_services-1_restaurant p {
    max-width: none;
    margin-bottom: 15px;
    padding: 0 15px;
    opacity: 0;
    transition: opacity .3s;
}
.block-2_services-1_spa span,
.block-2_services-1_restaurant span {
    color: #f0af22;
    opacity: 0;
    transition: opacity .3s;
}
.block-2_services-1_spa:hover p,
.block-2_services-1_restaurant:hover p,
.block-2_services-1_spa:hover span,
.block-2_services-1_restaurant:hover span {
    opacity: 1;
}
/**** spa-active, restaurant-active ****/
.block-2_services-1_spa.active ~ .block-2_services-1_spa-active,
.block-2_services-1_restaurant.active ~ .block-2_services-1_restaurant-active {
    height: 342px;
}
.block-2_services-1_spa-active,
.block-2_services-1_restaurant-active {
    clear: both;
    height: 0;
    overflow-y: hidden;
    transition: height .3s linear;
}
.restaurant_block-1,
.restaurant_block-2,
.restaurant_block-3 {
    display: none;
}
.block-2_services-1_restaurant-active[data-restaurant-block="1"] .restaurant_block-1,
.block-2_services-1_restaurant-active[data-restaurant-block="2"] .restaurant_block-2,
.block-2_services-1_restaurant-active[data-restaurant-block="3"] .restaurant_block-3 {
    display: block;
}
.spa-active_l,
.spa-active_r,
.restaurant-active_l,
.restaurant-active_r {
    position: relative;
    width: 50%;
    height: 342px;
    box-sizing: border-box;
}
.spa-active_l,
.restaurant-active_l {
    border: 1px solid #006fb6;
    border-right: none;
}
.spa-active_l h4,
.restaurant-active_l h4 {
    margin: 20px 30px 10px;
    color: #00395d;
}
.spa-active_l article,
.restaurant-active_l article {
    height: 270px;
    margin: 0 30px;
    overflow-y: auto;
}
.restaurant-active_l article {
    height: 220px;
}
.restaurant-active_l_key {
    margin: 20px 0 0;
    text-align: center;
}
.restaurant-active_l_key button {
    width: 30px;
    height: 30px;
    background-color: #59b5e2;
    color: #fff;
}
.restaurant-active_l_key span {
    margin: 0 16px;
    color: #00395d;
}
.spa-active_l article p,
.restaurant-active_l article p {
    max-width: none;
    margin: 0 0 10px;
    text-align: left;
}
.spa-active_l article ul,
.restaurant-active_l article ul {
    margin: 0 0 0 -10px;
}
.spa-active_r figure,
.restaurant-active_r figure {
    width: 100%;
    margin: 0;
}
.spa-active_r img,
.restaurant-active_r img {
    display: none;
    width: 100%;
    height: 342px;
}
.spa-active_r img.active,
.restaurant-active_r img.active {
    display: block;
}
.spa-active_r .spa-active_close,
.restaurant-active_r .restaurant-active_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 44px;
    background-color: #f0af22;
    color: #fff;
}
.spa-active_r .spa-img_prev,
.spa-active_r .spa-img_next,
.restaurant-active_r .restaurant-img_prev,
.restaurant-active_r .restaurant-img_next {
    position: absolute;
    top: calc(50% - 22px);
    width: 44px;
    height: 44px;
    background-color: #59b5e2;
    color: #fff;
}
.spa-active_r .spa-img_prev,
.restaurant-active_r .restaurant-img_prev {
    left: 0;
}
.spa-active_r .spa-img_next,
.restaurant-active_r .restaurant-img_next {
    right: 0;
}
/**** /spa-active, restaurant-active /.block-2_services-1_spa ****/
/*** /.block-2_services-1_restaurant ***/

/*** .block-2_services-2_comfort ***/
.block-2_services-2_comfort div {
    display: inline-block;
    width: 276px;
    height: 245px;
    margin-right: 12px;
    margin-bottom: 12px;
    overflow-y: hidden;
    background-color: #00395d;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
}
.block-2_services-2_comfort div:hover {
    background: radial-gradient(#006fb6, #00395d);
}
.block-2_services-2_comfort div:nth-of-type(4n) {
    margin-right: 0;
}
.block-2_services-2_comfort div:nth-of-type(n+5) {
    margin-bottom: 0;
}
.block-2_services-2_comfort div i {
    margin: 60px 0 20px;
    transition: margin-top .45s;
}
.block-2_services-2_comfort div p {
    margin: 10px 20px 0;
    opacity: 0;
}
.block-2_services-2_comfort div:hover i {
    margin-top: 20px;
}
.block-2_services-2_comfort div:hover p {
    opacity: 1;
    transition: opacity .5s;
}
/*** /.block-2_services-2_comfort ***/

/*** .block-2_services-2_rules ***/
.block-2_services-3_rules-l {
    width: 276px;
    margin-right: 12px;
    margin-left: 1px;
}
.block-2_services-3_rules-l_top {
    height: 110px;
    margin-bottom: 12px;
    padding-top: 40px;
    background-color: #00395d;
    text-align: center;
}
.block-2_services-3_rules-l_top h3 {
    position: relative;
    display: inline;
    color: #fff;
}
.block-2_services-3_rules-l_top small {
    position: absolute;
    top: 40px;
    color: #59b5e2;
}
.block-2_services-3_rules-l_top small.in {
    left: 20px;
}
.block-2_services-3_rules-l_top small.out {
    right: 14px;
}
.block-2_services-3_rules-l_bottom {
    width: 274px;
    border: 1px solid #006fb6;
}
.block-2_services-3_rules-l_bottom article:first-of-type {
    margin: 30px 22px 0;
}
.block-2_services-3_rules-l_bottom article:last-of-type {
    margin: 26px 22px 30px;
}
.block-2_services-3_rules-l_bottom h3 {
    color: #59b5e2;
}
.block-2_services-3_rules-l_bottom p {
    max-width: none;
    margin: 22px 0 0;
    text-align: left;
}
.block-2_services-3_rules-r {
    width: 850px;
    border: 1px solid #006fb6;
}
.block-2_services-3_rules-r article {
    margin: 30px 22px;
}
.block-2_services-3_rules-r h3 {
    display: inline-block;
    width: 130px;
    margin-right: 12px;
    color: #00395d;
    vertical-align: top;
}
.block-2_services-3_rules-r p {
    display: inline-block;
    max-width: none;
    width: 656px;
    margin: 0;
    text-align: left;
    vertical-align: top;
}
/*** /.block-2_services-2_rules ***/
/**  end .block-2_services  **/
/*    end #conten_services    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_contact    */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_contact   **/
.block-1_contact {
    margin-bottom: 50px;
}
.block-1_contact iframe {
    width: 100%;
    height: 600px;
    border: 0;
}
.block-1_contact-top {
    margin: 50px 0 40px;
}
.block-1_contact-middle,
.block-1_contact-bottom {
    margin-top: 50px;
}
.block-1_contact-top h2,
.block-1_contact-middle h3,
.block-1_contact-bottom h3 {
    text-align: center;
    color: #00395d;
}
.block-1_contact-top p,
.block-1_contact-bottom p{
    max-width: 756px;
    margin: 20px auto 0;
    text-align: center;
}
.block-1_contact-middle p {
    margin-top: 20px;
}
.block-1_contact-middle ul {
    margin: 20px 0 0 -20px;
}
.block-1_contact-middle li {
    margin: 6px 0 0;
}
.block-1_contact-bottom figure {
    margin: 50px 0 0;
}
.block-1_contact-bottom img {
    margin-right: 5px;
    vertical-align: bottom;
}
.block-1_contact-bottom img:last-of-type {
    margin-right: 0;
}
/**   end .block-1_contact   **/
/*    end #conten_contact    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_search    */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_search   **/
.block-1_search {
    padding-bottom: 50px;
}
.block-1_search button {
    width: 34px;
    height: 34px;
    margin: 30px 0 10px;
    background-color: #59b5e2;
    border-radius: 5px;
    color: #fff;
}
.block-1_search button i {
    vertical-align: top;
    margin-top: 3px;
}
.block-1_search label {
    position: relative;
    clear: both;
    display: block;
    max-width: 756px;
    height: 60px;
    margin: 0 auto;
}
.block-1_search label i {
    position: absolute;
    top: 15px;
    left: 22px;
    color: #59b5e2;
}
.block-1_search input {
    display: block;
    width: calc(100% - 142px);
    height: 58px;
    padding: 0 70px;
    background-color: #fff;
    border: 1px solid #59b5e2;
    border-radius: 10px;
    color: #00395d;
    transition: background-color 1s, color 1s;
}
.block-1_search input:valid:focus {
    box-shadow: 0 0 2px 0 #59b5e2;
}
.block-1_search input:invalid {
    width: calc(100% - 144px);
    height: 56px;
    background-color: #00395d;
    border: 2px solid #59b5e2;
    color: #fff;
}
.block-1_search input:invalid + i {
    color: #fff;
}
.block-1_search p {
    max-width: 972px;
    margin: 40px auto 0;
    padding-bottom: 15px;
    color: #00395d;
    border-bottom: 1px solid #d9a548;
}
.block-1_search_result p,
.block-1_search_result div {
    max-width: 972px;
    margin: 30px auto 0;
    padding-bottom: 30px;
    color: #00395d;
    border-bottom: 1px solid #d9a548;
}
/**   end .block-1_search   **/
/*    end #conten_search    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_login && start #conten_registration   */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_login && start .block-1_registration   **/
.block-1_login,
.block-1_registration {
    padding-bottom: 50px;
}
.block-1_login button,
.block-1_registration button {
    width: 34px;
    height: 34px;
    margin: 30px 0 10px;
    background-color: #59b5e2;
    border-radius: 5px;
    color: #fff;
}
.block-1_login button i,
.block-1_registration button i {
    vertical-align: top;
    margin-top: 3px;
}
.block-1_login form,
.block-1_registration form {
    clear: both;
    max-width: 396px;
    margin: 0 auto;
}
.block-1_login form div label,
.block-1_registration form div label {
    margin-left: 20px;
    color: #00395d;
}
.block-1_login form div label.novalid,
.block-1_registration form div label.novalid {
    visibility: hidden;
    color: #dc1b3b;
    opacity: 0;
    transition: opacity .2s linear;
}
.block-1_login form div.novalid label.novalid,
.block-1_registration form div.novalid label.novalid {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s linear;
}
.block-1_login form div.novalid input,
.block-1_registration form div.novalid input {
    border: 1px solid #dc1b3b;
}
.block-1_login form div input,
.block-1_registration form div input {
    display: block;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    margin: 5px 0 0;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #59b5e2;
    color: #00395d;
}
.block-1_login form div input:focus,
.block-1_registration form div input:focus {
    box-shadow: 0 0 3px 0 #59b5e2;
    transition: all .1s;
}
.block-1_login form > label,
.block-1_registration form > label {
    display: block;
    width: 180px;
    height: 36px;
    margin: 10px auto;
    background-color: #d9a548;
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.block-1_registration form > label {
    width: 224px;
}
.block-1_login form > label:hover,
.block-1_registration form > label:hover {
    box-shadow: 0 0 4px 1px #d9a548;
}
.block-1_login form > label input,
.block-1_registration form > label input {
    margin-left: 6px;
    background-color: transparent;
    cursor: inherit;
}
/**   end .block-1_login && end .block-1_registration   **/
/*    end #conten_login && end #conten_registration    */ /* ----- ----- ----- ----- ----- */

/*    start #conten_rooms    */ /* ----- ----- ----- ----- ----- */
/**   start .block-1_rooms   **/
.block-1_rooms {
    width: 100%;
    background-color: #fff;
}
/***  .fixed  ***/
.block-1_rooms.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
}
.block-1_rooms.fixed .block-1_rooms_top {
    margin-top: 0;
}
.block-1_rooms.fixed + .block-2_rooms {
    padding-top: 112px;
}
/****  .fixed  ****/
.block-1_rooms.fixed + .block-2_rooms div .block-2_rooms_sort-block_wrapper {
    position: fixed;
    top: 62px;
}
.block-1_rooms.fixed + .block-2_rooms div .block-2_rooms_content-block {
    margin-left: 288px;
}
/****  /.fixed  ****/
/***  /.fixed  ***/
.block-1_rooms_top {
    height: 60px;
    margin-top: 50px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.block-1_rooms_top h4 {
    margin: 5px 0 5px 288px;
    color: #00395d;
}
.block-1_rooms_top .room_cal-in {
    margin: 0 10px 0 288px;
    background-color: transparent;
}
.block-1_rooms_top .room_cal-out {
    margin-left: 8px;
    background-color: transparent;
}
.block-1_rooms_top .room_cal-in i,
.block-1_rooms_top .room_cal-out i {
    color: #d9a548;
}
.block-1_rooms_top .room_cal-in span,
.block-1_rooms_top .room_cal-out span {
    margin: 0 5px;
}
/**   end .block-1_rooms   **/
/**   start .block-2_rooms   **/
/***  aside  ***/
.block-2_rooms_sort-block_wrapper {
    width: 276px;
    min-height: calc(100vh - 348px); /*h130px+mt152+mb16px+f50px*/
    max-height: calc(100vh - 218px);
    margin: 40px 12px 15px 0;
    overflow-y: auto;
}
.block-2_rooms_sort-block h4 {
    height: 47px;
    padding: 3px 20px 0;
    background-color: #00395d;
    color: #fff;
    text-align: center;
}
.block-2_rooms_sort-border {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 16px;
    background-color: #ededed;
    border: 2px solid #ccc;
    border-top: 0;
}
.block-2_rooms_sort-border div {
    margin: 0 8px;
    padding: 18px 5px 22px;
    border-bottom: 1px solid #ccc;
}
.block-2_rooms_sort-border div:first-of-type {
    margin-top: 10px;
    border-top: 1px solid #ccc;
}
.block-2_rooms_sort-border div label {
    display: block;
    cursor: pointer;
}
.block-2_rooms_sort-border div span {
    margin-right: 5px;
    cursor: default;
}
.block-2_rooms_sort-border div select {
    padding: 0 6px;
    cursor: pointer;
}
.block-2_rooms_sort-border div .martop10 {
    margin-top: 10px;
}
.block-2_rooms_sort-border div label input {
    margin-right: 4px;
}
/***  /aside  ***/
/***  .block-2_rooms_content-block  ***/
.block-2_rooms_content-block {
    width: calc(100% - 288px);
    margin: 40px 0 20px;
}
.block-2_rooms_content-block > div {
    margin-bottom: 15px;
}
.block-2_rooms_content-block h3 {
    text-transform: uppercase;
    text-decoration: underline;
    color: #006fb6;
    cursor: default;
}
.block-2_rooms_content-block .room-info {
    display: block;
    margin: 2px 0 12px;
    cursor: default;
}
.block-2_rooms_content-block img {
    float: left;
    width: 32.4%;
    margin: 0 1.4% 26px 0;
}
.block-2_rooms_content-block table {
    width: 66%;
    border-collapse: collapse;
    cursor: default;
}
.block-2_rooms_content-block th {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    color: #888;
}
.block-2_rooms_content-block th:first-of-type {
    text-align: left;
}
.block-2_rooms_content-block td {
    padding: 30px 0 0;
}
.block-2_rooms_content-block td span {
    text-transform: uppercase;
}
.block-2_rooms_content-block td:first-of-type span {
    color: #006fb6;
}
.block-2_rooms_content-block td:nth-of-type(2),
.block-2_rooms_content-block td:nth-of-type(3) {
    text-align: center;
}
.block-2_rooms_content-block td button {
    padding: 8px 10px;
    background-color: #d9a548;
    border-radius: 5px;
    color: #fff;
}
.block-2_rooms_content-block td button:hover {
    box-shadow: 0 0 4px 0 #d9a548;
}
.block-2_rooms_content-block > div hr {
    clear: both;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #9a9a9a;
    border: 0;
    border-bottom: 1px solid #eee;
}
/**** .the-room-reserve & .the-room-reserve-br ****/
.the-room-reserve,
.the-room-reserve-br {
    position: relative;
}
.block-2_rooms_content-block .the-room-reserve hr,
.block-2_rooms_content-block .the-room-reserve-br hr {
    background-color: #d9a548;

}
.block-2_rooms_content-block .the-room-reserve:after,
.block-2_rooms_content-block .the-room-reserve-br:after {
    content: 'Зарезервировано';
    position: absolute;
    bottom: 32px;
    right: 0;
    padding: 10px 18px;
    color: #fff;
    background-color: #d9a548;
    border-top-left-radius: 5px;
}
.the-room-reserve button,
.the-room-reserve-br button {
    visibility: hidden;
}
.the-room-reserve table tr:nth-of-type(3),
.the-room-reserve-br table tr:nth-of-type(2) {
    display: none;
}
/**** /.the-room-reserve & /.the-room-reserve-br ****/
/***  /.block-2_rooms_content-block  ***/
/**   end .block-2_rooms   **/

/**   start .block-3_rooms   **/
/***  .block-3_rooms_page-pagination  ***/
.block-3_rooms_page-pagination {
    margin-bottom: 40px;
    text-align: center;
}
.block-3_rooms_page-pagination a {
    display: inline-block;
    width: 36px;
    height: 26px;
    margin-right: 6px;
    background-color: #fff;
    border: 2px solid #d9a548;
    border-radius: 5px;
    color: #d9a548;
    line-height: 26px;
}
.block-3_rooms_page-pagination span {
    display: inline-block;
    margin-right: 6px;
}
.block-3_rooms_page-pagination a:hover {
    box-shadow: 0 0 5px 0 #d9a548;
}
.block-3_rooms_page-pagination a.active {
    background-color: #d9a548;
    color: #fff;
    cursor: default;
}
.block-3_rooms_page-pagination a.active:hover {
    box-shadow: none;
}
/***  /.block-3_rooms_page-pagination  ***/
/**   end .block-3_rooms   **/
/*    end #conten_rooms    */ /* ----- ----- ----- ----- ----- */


/*    start .calendar    */ /* ----- ----- ----- ----- ----- */
.calendar {
    position: absolute;
    top: 40px;
    left: -14px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-spacing: 3px;
    color: #000;
    cursor: default;
    line-height: 1;
    z-index: 5;
}
.calendar thead td {
    padding: 5px 0;
    background-color: #59b5e2;
    color: #fff;
}
.calendar thead i {
    cursor: pointer;
}
.calendar thead th {
    color: #888;
}
.calendar tbody td {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #00395d;
    cursor: pointer;
}
.calendar tbody td.active {
    background-color: #59b5e2;
    border: 1px solid #59b5e2;
    color: #fff;
}
.calendar tbody td.no {
    background-color: #fff;
    border: 1px solid transparent;
    color: #bebebe;
    cursor: default;
}
/*    end .calendar    */ /* ----- ----- ----- ----- ----- */


/*    start Animation style    */ /* ----- ----- ----- ----- ----- */
@-webkit-keyframes zoomOutLeft {
    35% {
        opacity: 1;
        -webkit-transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
        transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.25) translate3d(-110%, 30%, 0);
        transform: scale(.25) translate3d(-110%, 30%, 0);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }
}
@keyframes zoomOutLeft {
    35% {
        opacity: 1;
        -webkit-transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
        transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.25) translate3d(-110%, 30%, 0);
        transform: scale(.25) translate3d(-110%, 30%, 0);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }
}
.animation_out_center-left {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomOutLeft;
    animation-name: zoomOutLeft;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
.animation_in_center {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
@-webkit-keyframes zoomOutRight {
    35% {
        opacity: 1;
        -webkit-transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
        transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.25) translate3d(110%, 30%, 0);
        transform: scale(.25) translate3d(110%, 30%, 0);
        -webkit-transform-origin: right top;
        transform-origin: right top;
    }
}
@keyframes zoomOutRight {
    35% {
        opacity: 1;
        -webkit-transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
        transform: scale3d(.5, .5, .5) translate3d(0, -32%, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.25) translate3d(110%, 30%, 0);
        transform: scale(.25) translate3d(110%, 30%, 0);
        -webkit-transform-origin: right top;
        transform-origin: right top;
    }
}
.animation_out_center-right {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomOutRight;
    animation-name: zoomOutRight;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes zoomOut {
    from {
        opacity: 1;
    }
    90% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3) translate3d(0, 15%, 0);
        transform: scale3d(.3, .3, .3) translate3d(0, 15%, 0);
        -webkit-transform-origin: center top;
        transform-origin: center top;
    }
    to {
        opacity: 0;
    }
}
@keyframes zoomOut {
    from {
        opacity: 1;
    }
    90% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3) translate3d(0, 15%, 0);
        transform: scale3d(.3, .3, .3) translate3d(0, 15%, 0);
        -webkit-transform-origin: center top;
        transform-origin: center top;
    }
    to {
        opacity: 0;
    }
}
.animation_out_center {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}
/*    end Animation style    */ /* ----- ----- ----- ----- ----- */

